# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtualenv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configs sensibles
config.py
secrets.py
.env

# Logs
*.log

# MacOS
.DS_Store
